{% extends 'FITDDWBundle::layout.html.twig' %}

{% block content %}

<h1>Recommodated products for user {{ userId }}</h1>

<div class="row">
{% for idv, idi in recIdvs %}
	<a href="http://www.posters.cz/xx-v{{ idv }}" title="IDV: {{ idv }}" class="product">
		<img src="http://www.posters.cz/image/200/{{ idi }}.jpg">
	</a>
{% else %}
	<div class="alert alert-info">Nothing</div>
{% endfor %}
</div>

<h2>User has visit:</h2>

<div class="row">
	{% for idv, idi in viewIdvs %}
		<a href="http://www.posters.cz/xx-v{{ idv }}" title="IDV: {{ idv }}" class="product">
			<img src="http://www.posters.cz/image/200/{{ idi }}.jpg">
		</a>
	{% else %}
		<div class="alert alert-info">Nothing</div>
	{% endfor %}
</div>

<h2>User has bought</h2>

<div class="row">
	{% for idv, idi in cartIdvs %}
		<a href="http://www.posters.cz/xx-v{{ idv }}" title="IDV: {{ idv }}" class="product">
			<img src="http://www.posters.cz/image/200/{{ idi }}.jpg">
		</a>
	{% else %}
		<div class="alert alert-info">Nothing</div>
	{% endfor %}
</div>

{% endblock content %}