<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="David Alexa - alexadav@fit.cvut.cz" />
	<meta name="robots" content="noindex, nofollow" /> 

	{% stylesheets
		'bundles/fitddw/stylesheets/*'
		filter='cssrewrite'
		output='css/stylesheet.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% block stylesheet %}{% endblock stylesheet %}
	{% block javascripts %}{% endblock javascripts %}

	<title>{% block title %}{% endblock title %} {% block additionalTitle %}| DDW{% endblock additionalTitle %}</title>
</head>
<body>

<div class="container">
	<form action="{{ path("homepage") }}" method="POST" name="form" role="form" class="form-inline panel panel-default">
		<div class="panel-heading">Select ID of user</div>
		<div class="panel-body">
		<select name="idu">
			{% for locIdu in iduArr %}
				<option value="{{ locIdu }}" {% if locIdu == idu %}selected="selected"{% endif %}>{{ locIdu }}</option>
			{% endfor %}
		</select>
		<label>Amount:</label>
		<input type="number" value="{% if amount is defined %}{{ amount }}{% else %}5{% endif %}" name="amount">
		<input type="submit" value="Show recommodations" class="btn btn-primary inline-block" />
		</div>
	</form>

	<hr />

	{% for type,flashMessages in app.session.flashbag.all() %}
		{% for message in flashMessages %}
			<div class="alert alert-{{ type }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}

	{% block sidebar %}
	{% endblock sidebar %}

	{% block content %}
	{% endblock content %}
</div>
</body>
</html>
