/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

img { max-width: 100%; max-height: 100%; }
.product { @include inline-block; width: 200px; height: 200px; text-align: center; margin: 10px; padding: 10px; }